name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  DART_VERSION: 3.10.4

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.2
      - uses: dart-lang/setup-dart@65c82982aa686933bf10d50aced7a27b2b63f2a6 #v1.6.3
        with:
          sdk: ${{ env.DART_VERSION }}
      - name: Install dependencies
        run: |
          dart pub global activate melos && melos bootstrap

      - name: Run build_runner
        run: melos exec --depends-on="build_runner" --fail-fast -- "dart run build_runner build --delete-conflicting-outputs"

      - name: Ensure clean git status
        run: melos exec --fail-fast -- "../../tool/ensure_git_clean.sh"

      - name: Verify formatting
        run: melos exec --fail-fast -- "dart format --output=none --set-exit-if-changed ."

      - name: Analyze test_track
        uses: invertase/github-action-dart-analyzer@e981b01a458d0bab71ee5da182e5b26687b7101b #v3.0.0
        with:
          working-directory: packages/test_track

      - name: Analyze test_track_test_support
        uses: invertase/github-action-dart-analyzer@e981b01a458d0bab71ee5da182e5b26687b7101b #v3.0.0
        with:
          working-directory: packages/test_track_test_support

      - name: Run tests and generate coverage report
        run: melos exec --fail-fast -- "../../tool/generate_code_coverage.sh"

      - name: Upload test_track code coverage
        uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed #v4.3.0
        with:
          files: coverage/lcov.info
          working-directory: packages/test_track

      - name: Upload test_track_test_support code coverage
        uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed #v4.3.0
        with:
          files: coverage/lcov.info
          working-directory: packages/test_track_test_support

  pana:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.2
      - uses: dart-lang/setup-dart@65c82982aa686933bf10d50aced7a27b2b63f2a6 #v1.6.3
        with:
          sdk: ${{ env.DART_VERSION }}
      - name: Install dependencies
        run: |
          dart pub global activate melos && melos bootstrap
          dart pub global activate pana
      - name: Verify pub score
        run: melos exec -- "../../tool/verify_pub_score.sh 150"
